html {
    overflow-y: scroll;
}

/*------------------------------------------------
   Documentation banner
------------------------------------------------*/

.banner {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 40px;
    z-index: 2;
    background: var(--bg-banner);
    color: var(--text-banner);
    font-family: "robotobold", "Helvetica Neue", Arial, sans-serif;
}

.banner a {
    color: var(--text-banner);
}

.banner .title {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.banner .title #title {
    font-size: 20px;
    position: relative;
    top: -7px;
    left: 17px;
}

.banner .right {
    position: absolute;        
    right: 0px;
    bottom: 0px;
}

#nav-links {
    font-size: 16px;
    height: 40px;
}
.banner .nav-link {
    display: inline-block;
    padding: 7px 20px 0px 20px;
    line-height: 28px;
    vertical-align: top;
    border-bottom: 5px solid transparent;
    transition: border-bottom-color 0.2s ease;
}
.banner .nav-link:hover {
    border-bottom-color: #e8e8e8c0;
}

.theme-toggle-parent {
    display: inline-block;
    height: 40px;
    padding: 4px 10px 0px 10px;
}

.banner .right .button {
    display: inline-block;
    height: 100%;
    cursor: pointer;
    vertical-align: top;
}
#hamburger {
    left: -10px;
    top: -5px;
}

/*------------------------------------------------
   Sidebar directory navigation
------------------------------------------------*/

.directory {
    display: none;
    color: var(--text-secondary);
    position: fixed;
    width: 290px;
    top: 42px;
    bottom: 0px;
    z-index: 1;
    overflow: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    font-size: 85%;
    transform-origin: top right;
    font-family: "source_sans_3", "Helvetica Neue", Arial, sans-serif;
}

/*------------------------------------------------
   Media queries for different screen sizes
------------------------------------------------*/

@media only screen and (min-width: 730px) {
    .directory {
        padding-left: 8px;
        display: block;
        top: 42px;
        bottom: 0px;
    }
    .content-parent {
        margin-left: 290px;
        padding: 15px 30px;
    }
    .mobile-nav {
        display: none;
    }
}

@media only screen and (max-width: 729px) {
    .directory {
        right: 0px;
        top: 35px;
        bottom: 25px;
        max-height: 600px;
        z-index: 3;
        background: var(--bg-sidebar);
        border: 1px solid var(--border-sidebar);
    }
    .directory.expanded {
        display: block;
        animation-name: menuAnimation;
        animation-duration: 0.15s;
        animation-timing-function: linear;
    }
    .directory .expanded-content {
        animation-name: menuContentsAnimation;
        animation-duration: 0.15s;
        animation-timing-function: linear;
    }
    #nav-links {
        display: none;
    }
    #hamburger {
        display: inline-block;
    }
}

/*------------------------------------------------
   Page navigation (prev/next)
------------------------------------------------*/

.page-nav {
    margin-top: 36px;
    margin-bottom: 6px;
    padding-top: 20px;
    border-top: 1px solid var(--border-secondary);
    user-select: none;
}

.page-nav a {
    color: var(--text-secondary);
    font-family: "source_sans_3", "Helvetica Neue", Arial, sans-serif;
    font-size: 85%;
}

.page-nav a:hover {
    text-decoration: none;
}

.page-nav .nav-button {
    background-color: var(--button-background);
    padding: 2px 12px;
    border-radius: 8px;
    display: inline-block;
}

.page-nav .nav-button.right {
    float: right;
}

