/*------------------------------------------------
   Front page
------------------------------------------------*/

.front-banner {
    position: relative;
    width: 100%;
    height: 88px;
    background: var(--bg-banner);
    background: linear-gradient(180deg, #0c4872, #326d97);
    font-family: "robotobold", "Helvetica Neue", Arial, sans-serif;
}

.front-banner .inner {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;    
    height: 100%;
}

.front-banner .inner .right {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#nav-links {
    font-size: 18px;
    margin-right: 10px;
    height: 48px;
    line-height: 42px;
}
.front-banner .nav-link {
    display: inline-block;
    padding: 0px 20px;
    vertical-align: top;
    border-bottom: 6px solid transparent;
    transition: border-bottom-color 0.2s ease;
}
.front-banner .nav-link:hover {
    border-bottom-color: #e8e8e8c0;
}

.theme-toggle-parent {
    display: inline-block;
    height: 48px;
    padding: 5px 10px 0px 10px;
}

#hamburger {
    top: -12px;
    left: -16px;
}

.front-banner .inner a {
    color: #e8e8e8;
}

.front-contents {
    padding: 34px 14px;
}

.center-text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.front-contents .tagline {
    font-family: "robotobold", "Helvetica Neue", Arial, sans-serif;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 32px;
}

.front-contents .include-base {
    margin-bottom: 8px;
}

.front-contents .include-base code {
    display: inline-block;
    background-color: var(--bg-code-block);
    font-size: 19px;
    padding: 4px 20px;
    color: var(--text-code);
}

.front-contents .base-summary {
    margin-bottom: 10px;
}

.front-contents .base-features {
    display: flex;
    width: fit-content;
    gap: 26px;
    margin: 0 auto 34px auto;
    color: var(--text-secondary);
    font-size: 14px;
}

.front-contents .base-features ul {
    margin-left: 18px;
    margin-bottom: 0px;
    line-height: 1.25;
}

.front-contents .wip {
    font-size: 20px;
    color: var(--text-wip);
    border: 2px solid var(--text-wip);
    padding: 4px 10px;
    max-width: 520px;
    margin-bottom: 32px;
}

.front-contents .modules-included {
    font-family: "robotobold", "Helvetica Neue", Arial, sans-serif;
    font-size: 22px;
    margin-bottom: 4px;
}

.front-contents .runs-on {
    margin-top: 36px;
    margin-bottom: 5px;
}

.front-contents .platforms {
    margin-bottom: 36px;
}

.front-contents .button {
    font-family: "robotobold", "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    background-color: var(--button-background);
    padding: 2px 20px;
    border-radius: 8px;
}

.front-contents .button a {
    color: var(--text-primary);
}

.front-contents .button a:hover {
    text-decoration: none;
}

/*------------------------------------------------
   Media queries for different screen sizes
------------------------------------------------*/

@media only screen and (min-width: 600px) {
    .mobile-nav {
        display: none;
    }
    .directory {
        display: none;
    }
}

@media only screen and (max-width: 599px) {
    #nav-links {
        display: none;
    }
    #hamburger {
        display: inline-block;
    }
    .directory {
        display: none;
        color: var(--text-secondary);
        position: fixed;
        width: 290px;
        right: 0px;
        top: 83px;
        bottom: 25px;
        max-height: 600px;
        z-index: 3;
        overflow: hidden;
        font-size: 85%;
        transform-origin: top right;
        font-family: "source_sans_3", "Helvetica Neue", Arial, sans-serif;
        background: var(--bg-sidebar);
        border: 1px solid var(--border-sidebar);
    }
    .directory.expanded {
        display: block;
        animation-name: menuAnimation;
        animation-duration: 0.15s;
        animation-timing-function: linear;
    }
    .directory .expanded-content {
        animation-name: menuContentsAnimation;
        animation-duration: 0.15s;
        animation-timing-function: linear;
    }
}

